.thumbnail {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.thumbnail:hover {
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease transform;
}
.thumbnail:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000005d;
  backdrop-filter: blur(6px);
}
.overlay > .text {
  color: white;
  font-size: 25px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .overlay {
  opacity: 1;
}
