.album__page {
  padding-bottom: 20px;
}

.album {
  padding: 30px;
}

.album__info {
  display: flex;
  align-items: flex-end;
}
.album__info > img {
  height: 40vw;
  max-height: 300px;
  margin: 0 20px 0 0;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.album__infoText > h4 {
  font-size: 12px;
  margin: 0;
}
.album__infoText > h2 {
  font-size: 5vw;
  margin: 0;
  padding: 0;
}
.album__infoText > p {
  font-size: 13px;
  color: lightgray;
}
.album__infoText > p > b {
  color: white;
}

.album__songs {
  background-color: #0000005d;
}

.album__songList {
  margin-top: 20px;
}

.album__header {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.album__header__left {
  display: flex;
  align-items: center;
}
.album__header__left h4 {
  color: gray;
  font-size: 16px;
}
.header__number {
  width: 22px;
  margin: 0px 40px 0px 0px;
}
.time__icon {
  color: gray;
}

.album__line {
  margin: -22px 20px 0px 20px;
  border: 0.5px #222222 solid;
}

.hidden {
  display: none;
}

.artist__link {
  text-decoration: none;
  color: white;
}
.artist__link:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .playlist__infoText > h2 {
    font-size: 6vw;
  }
}
