.category__page {
  padding-bottom: 20px;
}

.category {
  padding: 30px;
}

.category__info {
  display: flex;
  align-items: flex-end;
}

.category__info > img {
  height: 40vw;
  max-height: 300px;
  margin: 0 20px 0 0;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  // border-radius: 250px;
}

.category__infoText > h4 {
  font-size: 12px;
  margin: 0;
}
.category__infoText > h2 {
  font-size: 5vw;
  margin: 0;
  padding: 0;
}

.category__playlist {
  background-color: #000000;
  padding: 20px 50px 20px 50px;
}

.category__playlistGrid {
  border-radius: 5px;
  margin: 30px 0vw;
}

@media (max-width: 800px) {
  .category__infoText > h2 {
    font-size: 6vw;
  }
}
