.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.searchbar__icon {
  position: absolute;
  // width: 100%;
  color: white;
  padding: 15px;
}
.searchbar__input {
  width: 100%;
  padding: 10px 50px;
  background: none;
  outline: none;
  border: 2px white solid;
  border-radius: 30px;
  color: white;
  transition: 250ms ease-in;
}
.searchbar__input::placeholder {
  color: #c0c0c0;
}
.searchbar__input:focus {
  outline: none;
  border: 2px #1db954 solid;
}
