.option__link {
  text-decoration: none;
  color: grey;
  font-weight: 600;
  padding-left: 4vw;
  padding-right: 4vw;
  transition: 250ms color ease-in;

  &:hover {
    color: white;
  }

  &:hover .option__avatar {
    opacity: 1;
  }
}

.option__label {
  display: flex;
  align-items: center;
}

.option__icon {
  padding-right: 10px;
}

.option__avatar {
  padding-right: 10px;
  opacity: 0.8;
  transition: 250ms opacity ease-in;
}

@media (max-width: 900px) {
  .option__label > h4 {
    display: none;
  }
}

@media (max-width: 500px) {
  .option__label > h4 {
    display: none;
  }
  .option__link {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .header__logo > img {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
