.artistcard__link {
  text-decoration: none;
  z-index: 0;
}

.artistcard {
  border-radius: 5px;
  background-color: #ffffff0c;
  transition: 250ms background-color ease-in;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}
.artistcard:hover {
  background-color: #ffffff2c;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}
.artistcard img {
  width: 100%;
  height: 13.5em;
  object-fit: cover;
  border-radius: 200px;
  transition: 0.5s ease transform;
}

.artistcard__thumbnail {
  padding: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.artistcard__thumbnail:hover {
  cursor: pointer;
}
.artistcard__thumbnail:hover img {
  transform: scale(1.05);
}

.artistcard__text {
  padding: 16px 16px;
}
.artistcard__text h4 {
  color: white;
  font-size: 16px;
  font-weight: 800;
  margin: 0px;
  max-height: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.artistcard__text p {
  color: lightgray;
  font-size: 14px;
  height: 2.4em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noUserPic {
  filter: invert(70%);
}
