.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: 60px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  //   justify-content: flex-end;
}

.player {
  width: 100%;
  padding: 0px 10px 0px 10px;
  // position: absolute;
  bottom: 0;
}
