.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    height: 60px;
    // background-color: #1e1e1e;
    background-color: #181818;
    // padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    // align-self: ;
    // border: 1px solid red;
}