.searchpage__playlist__songs {
  background-color: #ffffff0c;
  border-radius: 5px;
  margin: 30px 0vw;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.searchpage__playlist__header {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist__header__left {
  display: flex;
  align-items: center;

  & h4 {
    color: gray;
    font-size: 16px;
  }
}

.header__number {
  width: 22px;
  margin: 0px 40px 0px 0px;
}

.time__icon {
  color: gray;
}

.playlist__line {
  margin: -22px 20px 0px 20px;
  border: 0.5px #222222 solid;
}

.playlist__songList {
  margin-top: 20px;
}

.noresult {
  padding-top: 2vh;
  text-align: center;
}

@media (max-width: 700px) {
  .searchpage__body__title {
    text-align: center;
  }
}
