.searchpage {
  margin: 30px 4vw;
  padding-bottom: 20px;
}

.searchpage__error {
  margin-top: 10vh;
  text-align: center;
}

.searchpage__header {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  align-items: center;
  margin-top: 20px;
}
.searchpage__header__search {
  width: 100%;
  padding: 0px 20px 0px 0px;
}

.searchpage__toggle {
  display: flex;
  justify-content: space-between;
  float: left;
  background: none;
  border-radius: 50px;
  padding: 0px 10px;
  transition: 250ms ease-in;
}
.searchpage__toggle h4 {
  margin: 0px;
  padding: 10px 10px;
}
.searchpage__toggle input {
  position: absolute;
  top: 0;
  opacity: 0;
}
.searchpage__toggle input + label {
  padding: 0px 0px;
  text-align: center;
  width: 90px;
  float: left;
  color: gray;
  cursor: pointer;
  border-radius: 30px;
  transition: color 250ms ease-in;
}
.searchpage__toggle input:hover + label {
  color: white;
}
.searchpage__toggle input:checked + label {
  color: white;
  background-color: #1db954;
  border-radius: 30px;
  transition: color 250ms ease-in;
}

.searchpage__playlist__songs {
  background-color: #ffffff0c;
  //   border-radius: 10px;
  border-radius: 5px;
  margin: 30px 0vw;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}
.searchpage__playlist__header {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noresult {
  padding-top: 2vh;
  text-align: center;
}

.nosearch {
  margin: 0px -4vw;
}

@media (max-width: 700px) {
  .searchpage__header {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }
  .searchpage__header__search {
    padding: 0px 0px 0px 0px;
    transition: 250ms ease-in;
  }
  .searchpage__toggle {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
  }
  .searchpage__toggle h4 {
    margin: 0px;
    padding: 5px;
  }
  .searchpage__body {
    text-align: center;
  }
}
