.searchpage {
  margin: 30px 4vw;
  padding-bottom: 20px;
}

.searchpage__error {
    // width: 100%;
    margin-top: 10vh;
    // margin-top: 50px;
    text-align: center;
}


// .searchbar {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   width: 100%;
// }
// .searchbar__icon {
//   position: absolute;
//   width: 100%;
//   color: white;
//   padding: 15px;
//   // font-size: 28px !important;
// }
// .searchbar__input {
//   width: 100%;
//   padding: 10px 50px;
//   background: none;
//   outline: none;
//   border: 2px white solid;
//   border-radius: 30px;
//   color: white;
//   // font-size: 18px;
//   // font-weight: 600;
// }
// .searchbar__input::placeholder {
//   color: #c0c0c0;
// }
// .searchbar__input:focus {
//   outline: none;
//   border: 2px #1db954 solid;
//   // box-shadow: 0 0 5px 1px #1db954;
// }

// // .MuiInput-root {
// //     border: 1px white solid;
// //     border-radius: 100px;
// //     padding: 5px;
// //     color: white;
// // }

// // .MuiInputBase-root::placeholder {
// //     color: white;
// // }

// // .Mui-focused {
// //     border: 1px #1db954 solid;
// // }
// // .search__icon {
// //     color: white;
// // }
// // .MuiInput-root::placeholder {
// //     color: white !important;
// // }
