.mainpage {
  padding-top: 70px;
  min-height: 100vh;
  color: white;
  background: none;
  padding-bottom: 70px;
}

.background {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(
    #222222 0%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 1) 100%
  );
}

.load {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 1025px) {
  .mainpage {
    padding-bottom: 140px;
  }
}
